.Banner {
    height: 681px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F5F5F5;
    top: 194px;
}

.Banner-container1 {
    width: 1303px;
    height: 398px;
    display: flex;
    /* Adiciona flexbox */
    align-items: flex-start;
    background-position: 272px;
    /* Alinha verticalmente */

}

.textfoto{
    width: 480px;
    height: 155px;
    display: flex;
    align-items: center;
    
}

.texto {
    width: 510px;
    height: 352px;
}
.imageFogo{
    display: flex;
    width: 90px;
    height: 75px;
    margin-inline-end: 10px;
    margin-top: 25px;
    
    
}

.imagem1 {
    width: 733.51px;
    height: 431.61px;
    top: 446.91px;
    left: 513.25px;
    gap: 0px;
    opacity: 0px;
    /* transform: rotate(-19.34deg); */
    object-fit: cover;

}



.melhoresOfertas {
    width: auto;
    height: 24px;
    top: 318px;
    left: 100px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: rgba(246, 170, 28, 1);
}

.textoPrincipal {
    width: 510px;
    height: 132px;
    top: 362px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.9999998807907104px;
    text-align: left;
}

.textoSecundario {
    width: 495px;
    height: 68px;
    top: 514px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.75px;
    text-align: left;
    color: #474747;
}

.butomOfertas {
    font-weight: 700;
    width: 220px;
    height: 48px;
    margin-top: 44px;
    color: rgba(245, 245, 245, 1);
    background-color: var(--cor-primaria);
    border: 0px;
    border-radius: 8px;
}

#padtexto{
    padding-left: 100px;
}